:root {
  --main-text-color: #303030;
  --second-text-color: #212121;
  --third-text-color: #757575;
  --main-title-color: #ffffff;
  --first-accent-color: #04295e;
  --second-accent-color: #ecbc00;
  --third-accent-color: #0000ff;
  --main-background-color: #ffffff;
  --main-btn-color: #ecbc00;
  --second-btn-color: #04295e;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--second-accent-color);
  background-color: transparent;
  border-radius: 30px;
  transition: background-color 300ms ease;
}

.btn:hover,
.btn:focus {
  background-color: var(--first-accent-color);
  border: none;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.top-text::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 20px;
}

.bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.soc-list {
  display: flex;
  justify-content: center;
}

.soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc-item:last-child {
  margin-right: 0;
}

.soc-link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 1px solid var(--second-accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-icon {
  fill: #000000;
}

.soc-link:hover,
.soc-link:focus {
  border: none;
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--third-accent-color);
}

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(25, 28, 38, 0.476);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  width: 500px;
  min-height: 600px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms;
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 108, 0, 0.2);
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-close-btn:hover {
  fill: #ff6c00;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal-title {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.modal-icon {
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon {
  fill: var(--second-accent-color);
}

.modal-input {
  width: 100%;
  height: 45px;
  border: 1px solid #999999;
  border-radius: 5px;
  padding-left: 30px;
  outline: none;
}
.modal-input:focus {
  border-color: var(--second-accent-color);
}
.modal-input::placeholder {
  color: #303030;
  font-size: 12px;
}

.modal-label {
  font-size: 12px;
  color: #9da4bd;
  margin-bottom: 5px;
  display: block;
}

.modal-text {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
  outline: none;
  margin-bottom: 30px;
}

.modal-text:focus {
  border-color: var(--second-accent-color);
}

.modal-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

.modal-btn-text {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #303030;
  text-align: center;
  transition: color 300ms ease;
}

.modal-btn:hover .modal-btn-text {
  color: #ffffff;
}

.policy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #303030;
  text-decoration-line: underline;
  margin-left: 5px;
}

.header {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-nav {
  padding-left: 30px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 300ms ease;
  position: relative;
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--second-accent-color);
}

.header-connect {
  margin-left: auto;
}

.header-btn {
  color: var(--main-title-color);
  margin-left: 40px;
  margin-right: 15px;
}

.hero .container {
  display: flex;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms ease;
}

.hero-soc {
  width: 90px;
  display: flex;
  align-items: flex-end;
  padding-left: 22px;
  padding-bottom: 33px;
}

.hero-list {
  display: flex;
  transform: rotate(-90deg) translate(-19px);
  transform-origin: top left;
  align-items: center;
}

.hero-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.hero-item + .hero-item {
  margin-left: 40px;
}

.hero-link:hover,
.hero-link:focus {
  color: var(--second-accent-color);
}

.hero-content {
  background-color: #303030;
  background-image: linear-gradient(to left, rgba(4, 42, 94, 0), rgba(236, 189, 0, 0.3)), url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 96px 80px 96px;
  flex-grow: 1;
}

.hero-top-text {
  color: var(--main-title-color);
  margin-bottom: 15px;
}

.hero-title {
  font-family: "Nothing You Could Do", cursive;
  font-size: 90px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--first-accent-color);
  margin-bottom: 30px;
}

.hero-title-second {
  color: var(--second-accent-color);
}

.gradient-ua {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #04295e 25%, #ecbc00 75%);
}

.hero-bottom-text {
  color: #ffffff;
  max-width: 400px;
}

.properties {
  padding-top: 100px;
  padding-bottom: 50px;
}

.properties__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.properties__item {
  width: calc((100% - 90px) / 4);
}
.properties__item::before {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.properties__item:nth-child(1)::before {
  width: 70px;
  height: 70px;
  background-image: url(../images/heart-in-hands.svg);
}
.properties__item:nth-child(2)::before {
  width: 70px;
  height: 70px;
  background-image: url(../images/gift-svgrepo-com.svg);
}
.properties__item:nth-child(3)::before {
  width: 70px;
  height: 70px;
  background-image: url(../images/pet-house-svgrepo-com.svg);
}
.properties__item:nth-child(4)::before {
  width: 70px;
  height: 70px;
  background-image: url(../images/shirt-clothes-svgrepo-com.svg);
}

.properties__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.properties__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item + .about-item {
  margin-left: 30px;
}

.about-top-text {
  color: #303030;
  margin-bottom: 30px;
}

.about-title {
  font-family: "Bodoni Moda", serif;
  color: var(--second-title-color);
  margin-bottom: 10px;
}

.about-bottom-text {
  color: #555555;
  margin-bottom: 40px;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 40px;
}

.about-btn {
  color: var(--second-btn-color);
}

.about-btn:hover,
.about-btn:focus {
  color: #ffffff;
}

.work {
  padding-top: 50px;
  padding-bottom: 50px;
}

.work__title {
  margin-bottom: 30px;
}

.work__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.work__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin: 15px;
}

.work__pic {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
}

.prices {
  background-color: #111319;
  background-image: url(../images/prices-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
  max-width: 1280px;
  margin: 0 auto;
}

.prices-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin: var(--typical-margin);
}

.prices-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
}

.prices-list {
  /* border: 1px dashed white; */
  padding: 30px 40px;
  flex-grow: 1;
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.prices-item-text:first-child {
  order: -1;
}

.prices-item {
  margin-bottom: var(--typical-margin);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.prices-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.prices-item:last-child {
  margin-bottom: 0;
}

.prices-btn {
  color: var(--main-btn-color);
  margin: 0 auto;
  display: block;
  margin-top: 50px;
}

.prices-list-light {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.prices-list-dark {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.benefits {
  padding-top: 140px;
  padding-bottom: 130px;
}

.benefits .container {
  display: flex;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}

.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: block;
}

.benefits-item-count::after {
  content: "+";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #ff6c00;
  vertical-align: top;
}

.benefits-content {
  width: 50%;
  padding-top: 30px;
  margin-left: 130px;
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}

.benefits-bottom-text {
  color: #555555;
}

.owner {
  padding-top: 50px;
}

.owner .container {
  display: flex;
}

.owner-top-text {
  color: #303030;
  margin-bottom: 30px;
}

.owner-title {
  font-family: "Bodoni Moda", serif;
  color: #303030;
  margin-bottom: 30px;
}

.owner-bottom-text {
  color: #555555;
  margin-bottom: 30px;
}

.owner-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 30px;
}

.masters {
  padding-top: 50px;
  padding-bottom: 50px;
}

.masters-top-text {
  color: #303030;
  margin-bottom: 30px;
}

.masters-title {
  color: #303030;
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
  margin-left: -30px;
}

.masters-item {
  width: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.masters-item:hover .masters-text-top-pic {
  transform: translateY(0);
}

.masters-top-wrap {
  position: relative;
  overflow: hidden;
}

.masters-text-top-pic {
  position: absolute;
  top: 0;
  color: #ffffff;
  background-color: rgba(236, 188, 0, 0.7);
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 300ms linear;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
}

.masters-item-text {
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}

.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}

.gallery-top-text {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gallery-item {
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.slider {
  padding-top: 50px;
  padding-bottom: 50px;
}

.slider-top-text {
  color: #303030;
  margin-bottom: 20px;
}

.slider-item {
  width: 270px;
  height: 360px;
  margin: 10px;
}

.slider-btn {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.slider-btn-prev,
.slider-btn-next {
  background-color: transparent;
  border: none;
}

.slider-btn-prev:hover,
.slider-btn-prev:focus,
.slider-btn-next:hover,
.slider-btn-next:focus {
  border-radius: 4px;
  border: 1px solid var(--second-accent-color);
}

.contacts-wrap {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px);
  max-width: 1280px;
  margin: 0 auto;
}

.contacts-wrap .container {
  display: flex;
  background-image: linear-gradient(to left, rgba(4, 42, 94, 0.7), rgba(4, 42, 94, 0.7)), url(../images/hero-bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 30px;
  width: calc(50% - 15px);
  padding-left: 100px;
}
.contacts .soc-list {
  justify-content: flex-start;
}
.contacts .soc-icon {
  fill: #ffffff;
}
.contacts .soc-link:hover .soc-icon {
  fill: var(--second-accent-color);
}

.contacts-title {
  font-family: "Bodoni Moda", serif;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-item + .contacts-item {
  margin-top: 20px;
}

.contacts-link {
  display: flex;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  transition: color 300ms ease;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--second-accent-color);
}

.contacts-link:hover .contacts-icon {
  fill: var(--second-accent-color);
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 16px;
  margin-top: 3px;
}

.online {
  padding-top: 50px;
  padding-bottom: 30px;
  width: calc(50% + 15px);
  padding-right: 20px;
  padding-left: 30px;
}

.online-title {
  font-family: "Bodoni Moda", serif;
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.online-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-field {
  position: relative;
  width: 265px;
}

.online-input {
  width: 100%;
  height: 24px;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 300ms linear;
  color: var(--third-text-color);
}

.online-input:focus {
  border-color: #ffffff;
}

.online-input:focus + .online-label,
.online-message:focus + .online-label,
.online-input:not(:placeholder-shown) + .online-label,
.online-message:not(:placeholder-shown) + .online-label {
  color: #ffffff;
  transform: translateY(-100%);
}

.online-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636363636;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--third-text-color);
  transition: color 300ms linear, transform 300ms linear;
}

.text-field {
  width: 100%;
  position: relative;
  margin-top: 44px;
  margin-bottom: 44px;
}

.online-message {
  width: 100%;
  height: 76px;
  resize: none;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 300ms linear;
  color: rgba(157, 164, 189, 0.6);
  padding-top: 20px;
}

.online-btn {
  margin-left: 0;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--second-accent-color);
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.footer .container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 300ms ease;
}

.footer-soc {
  width: 90px;
  display: flex;
  align-items: flex-end;
  padding-left: 22px;
  padding-bottom: 33px;
}

.footer-list {
  display: flex;
  align-items: center;
  margin-right: 55px;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.footer-item + .footer-item {
  margin-left: 40px;
}

.footer-link:hover,
.footer-link:focus {
  color: var(--second-accent-color);
}

.footer-copy {
  color: #9da4bd;
}/*# sourceMappingURL=main.css.map */