.contacts-wrap {
  background-color: #ffffff;
  // background-image: url(../images/contacts-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px);
  max-width: 1280px;
  margin: 0 auto;
}

.contacts-wrap .container {
  display: flex;
  background-image: linear-gradient(
      to left,
      rgba(4, 42, 94, 0.7),
      rgba(4, 42, 94, 0.7)
    ),
    url(../images/hero-bg.jpeg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
}

.contacts {
  padding-top: 50px;
  padding-bottom: 30px;
  width: calc(50% - 15px);
  padding-left: 100px;

  .soc-list {
    justify-content: flex-start;
  }

  .soc-icon {
    fill: #ffffff;
  }

  .soc-link:hover .soc-icon {
    fill: var(--second-accent-color);
  }
}

.contacts-title {
  font-family: "Bodoni Moda", serif;
  color: var(--main-title-color);
  margin-bottom: 40px;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-item + .contacts-item {
  margin-top: 20px;
}

.contacts-link {
  display: flex;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  transition: color 300ms ease;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--second-accent-color);
}

.contacts-link:hover .contacts-icon {
  fill: var(--second-accent-color);
}
.contacts-subtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.contacts-time {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-icon {
  fill: currentColor;
  margin-right: 16px;
  margin-top: 3px;
}
