.owner {
  padding-top: 50px;
  // padding-bottom: 120px;
}

.owner .container {
  display: flex;
}

.owner-top-text {
  color: #303030;
  margin-bottom: 30px;
}
.owner-title {
  color: #303030;
  margin-bottom: 30px;
}
.owner-bottom-text {
  color: #555555;
  margin-bottom: 30px;
}
.owner-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 30px;
}
