.soc-list {
  display: flex;
  justify-content: center;
}

.soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.soc-item:last-child {
  margin-right: 0;
}

.soc-link {
  width: 100%;
  height: 100%;
  background-color: transparent;
  // border: 1px solid var(--second-accent-color);
  border-radius: 50%;
  box-shadow: inset 0 0 10px 5px rgba(163, 163, 163, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.soc-icon {
  fill: #000000;
}

.soc-link:hover,
.soc-link:focus {
  border: none;
  box-shadow: none;
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--third-accent-color);
}
