:root {
  --main-text-color: #303030;
  --second-text-color: #212121;
  --third-text-color: #757575;
  --main-title-color: #ffffff;
  --first-accent-color: #04295e;
  --second-accent-color: #ecbc00;
  --third-accent-color: #0000ff;
  --main-background-color: #ffffff;
  --main-btn-color: #ecbc00;
  --second-btn-color: #04295e;
}
